:root {
    --primary: #696ffb;
    --outline-info: #857bff;
    --outline-danger: #db504a;
    --success: #4cceac;
    --success-active: #32b593;
    --white1: #fbfcfd;
    --blue: #575dfa;
    --black-op4: rgba(16, 16, 16, 0.4);
    --header-gradient: linear-gradient(109.6deg, #141e30 11.2%, #243b55 91.1%);
    --sidebar-link: #525c5d;
    --table-title: rgb(0, 0, 0, 0.8);
    --table-link: #565656;
    --premium-color: #6610f2;
    --form-control-bg: #f8f9fb;
    --form-control-color: #6c757d;
    --form-control-border-color: #f1f4f8;
}
html {
    font-size: 10px;
}
.main {
    background: var(--white1);
    flex: 1;
    padding: 2rem 4rem;
}
.footer {
    background-color: var(--white1);
}
.search-box {
    display: flex;
    width: 40%;
    height: fit-content;
    background: #fff;
    border-radius: 50px;
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.rounded-btn {
    height: 100%;
    border-radius: 50px !important;
    padding: 0 1rem;
}
.title-md {
    opacity: 0.9;
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
}
.checkbox label,
.radio label {
    font-size: 1.4rem;
}
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.btn-without-bg {
    background: none;
    border: none;
}
.info-block {
    background-color: #fff;
    padding: 2rem;
}
.buttons-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.photo-link {
    font-size: 1.4rem;
    color: #000;
}
