.main {
    background: #fbfcfd;
    height: 100vh;
}
.title {
    text-align: center;
    color: #575dfa;
}
.login-form-container {
    width: 100%;
}
.login-form {
    flex: 1;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px -5px rgba(183, 192, 206, 0.15);
    padding: 60px 90px;
    border: 1px solid rgba(238, 238, 238, 0);
}
.form-control,
.form-control:focus {
    background-color: #f8f9fb;
    border: 1px solid #f1f4f8;
    padding: 6px 20px;
    box-shadow: none;
}
.form-control::placeholder {
    color: rgba(16, 16, 16, 0.4);
}
.form-group,
.form-inline {
    margin-bottom: 20px;
}
.form-group.input-rounded .form-control {
    border-radius: 25px;
}
.checkbox label,
.radio label {
    font-size: 14px;
}
.btn-primary {
    color: #fff;
    background-color: #696ffb;
    border-color: #696ffb;
}
.btn-block {
    width: 100%;
}
@media (max-width: 576px) {
    .login-form {
        padding: 60px;
    }
}
@media (max-width: 375px) {
    .login-form {
        padding: 40px 15px;
    }
}
